.upload-button {
    text-align: center;
    width: 100px;
    height: 100px;
    border-style: dotted;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-color: grey;

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}