<section style="position: fixed; z-index: 3; bottom: 0; background-color: grey; width: 100%; margin-bottom: -40px !important;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p style="color: #f3f3f3 !important;">Copyright © 2020 Devugo CBT APP. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</section>